body{
  background: #18181B;
	font-family: 'Comfortaa', cursive !important;
}

nav{
  background: #1F1F23;
  border-bottom: 3px solid #9973FE;
}

.footer-color{
  background: #1F1F23;
  border-top: 3px solid #9973FE;
}

.logo {
	color: #9973FE;
	fill: #9973FE;
}

.toast-header{
  color: #FFF;
  background: #1F1F23;
  border-bottom: 3px solid #9973FE;
}

.close{
  color: #9973FE;
}

.toast-body{
  color: #FFF;
  background: #9973FE;
  font-weight: bold;
}
